__pycache__/
*.py[cod]
*$py.class
.python-version
# Environments
# .env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
# file properties cache/storage on macOS
*.DS_Store
# thumbnail cache on Windows
Thumbs.db
.ipynb_checkpoints/
credentials.json
token.pickle
*.html
*.env
*.egg-info/
dist/
build/
